nav{
  display: flex;
  justify-content: center;
  gap: 3%;
  background-color: #009060;
  border-top: 10px solid #005040;
  padding: 10px;

}

nav a{
  text-decoration: none;

  color: white;
}

figure{
  height: 300px;
}
figure img{
  width: 60%;
  height: 100%;
}

#sobre-nos{
  text-align: center;
}

#sobre-nos div{
  margin: 0 auto;
  text-align: left;
}

#sobre-nos div ul{
  margin: 0 auto;
  width: 400px;
}

#sobre-nos div h3{
  text-align: center;
}

p{
  width: 80%;
  margin: 0 auto;
}

#porque-investir ul{
  display:grid;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr ;
  margin: 0 auto;
}

#porque-investir{
  text-align: center;
}
#porque-investir ul li{
  list-style:none;
  display: inline-block;
  margin: 5px;

  border-radius: 10px;
  border-left: 5px solid #005040; 
  background-color: #00d38d;


  padding: 20px;
}